DEBUG=False

DOMAIN=example.com
ALLOWED_HOSTS=example.com

SECRET_KEY=your-secret-key-here

CSRF_TRUSTED_ORIGINS=https://example.com


POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=pickle_db
POSTGRES_ADDRESS=db
DATABASE_URL=postgresql://your_db_user:your_secure_password@db:5432/pickle_db

TELEGRAM_TOKEN=telegram-token
TELEGRAM_CHAT_ID=telegram-chat-id
