{% extends 'base.html' %}


{% block title %}{{ title }} - Gaming Sessions{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Account Details</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="{{ account_form.nick.id_for_label }}" class="form-label">Nickname *</label>
                            {{ account_form.nick }}
                            {% if account_form.nick.errors %}
                            <div class="text-danger">{{ account_form.nick.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="{{ account_form.device_name.id_for_label }}" class="form-label">Device Name</label>
                            {{ account_form.device_name }}
                            {% if account_form.device_name.errors %}
                            <div class="text-danger">{{ account_form.device_name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="{{ account_form.creation_date.id_for_label }}" class="form-label">Creation Date</label>
                            {{ account_form.creation_date }}
                            {% if account_form.creation_date.errors %}
                            <div class="text-danger">{{ account_form.creation_date.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    
					<div class="row">
                    	<div class="col-md-4 mb-3">
                    	    <label for="{{ account_form.email.id_for_label }}" class="form-label">Email</label>
                    	    {{ account_form.email }}
                    	    {% if account_form.email.errors %}
                    	    <div class="text-danger">{{ account_form.email.errors }}</div>
                    	    {% endif %}
                    	</div>

						<div class="col-md-4 mb-3">
                    	    <label for="{{ account_form.platform.id_for_label }}" class="form-label">Platform</label>
                    	    {{ account_form.platform }}
                    	    {% if account_form.platform.errors %}
                    	    <div class="text-danger">{{ account_form.platform.errors }}</div>
                    	    {% endif %}
                    	    <a href="{% url 'platform_add' %}?next={{ request.path }}" class="form-text text-primary text-decoration-none">+ Add new platform</a>
                    	</div>

                        <div class="col-md-4 mb-3">
                            <label for="{{ account_form.phone.id_for_label }}" class="form-label">Phone</label>
                            {{ account_form.phone }}
                            {% if account_form.phone.errors %}
                            <div class="text-danger">{{ account_form.phone.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label fw-semibold">Account Status</label>
                            <div class="d-flex gap-4 flex-wrap mt-1">
                                {% for radio in account_form.account_status %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            {% if account_form.account_status.errors %}
                            <div class="text-danger">{{ account_form.account_status.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <hr class="my-4">

                    <h5 class="mb-3">Payment Information</h5>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ payment_form.crypto_wallet.id_for_label }}" class="form-label">Crypto Wallet</label>
                            {{ payment_form.crypto_wallet }}
                            {% if payment_form.crypto_wallet.errors %}
                            <div class="text-danger">{{ payment_form.crypto_wallet.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="{{ payment_form.wallet_provider.id_for_label }}" class="form-label">Wallet Provider</label>
                            {{ payment_form.wallet_provider }}
                            {% if payment_form.wallet_provider.errors %}
                            <div class="text-danger">{{ payment_form.wallet_provider.errors }}</div>
                            {% endif %}
                            <a href="{% url 'wallet_provider_add' %}?next={{ request.path }}" class="form-text text-primary text-decoration-none">+ Add new wallet provider</a>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="{{ payment_form.network.id_for_label }}" class="form-label">Network</label>
                            {{ payment_form.network }}
                            {% if payment_form.network.errors %}
                            <div class="text-danger">{{ payment_form.network.errors }}</div>
                            {% endif %}
                            <a href="{% url 'network_add' %}?next={{ request.path }}" class="form-text text-primary text-decoration-none">+ Add new network</a>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ payment_form.withdraw_pass.id_for_label }}" class="form-label">Withdrawal Password/PIN</label>
                            {{ payment_form.withdraw_pass }}
                            {% if payment_form.withdraw_pass.errors %}
                            <div class="text-danger">{{ payment_form.withdraw_pass.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="{{ payment_form.min_balance.id_for_label }}" class="form-label">Minimum Balance for Withdrawal</label>
                            {{ payment_form.min_balance }}
                            {% if payment_form.min_balance.errors %}
                            <div class="text-danger">{{ payment_form.min_balance.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <hr class="my-4">

                    <h5 class="mb-3">Location</h5>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="{{ location_form.country.id_for_label }}" class="form-label">Country</label>
                            {{ location_form.country }}
                            {% if location_form.country.errors %}
                            <div class="text-danger">{{ location_form.country.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="{{ location_form.ip.id_for_label }}" class="form-label">IP Address</label>
                            {{ location_form.ip }}
                            {% if location_form.ip.errors %}
                            <div class="text-danger">{{ location_form.ip.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="{{ location_form.proxy_vpn.id_for_label }}" class="form-label">Proxy/VPN</label>
                            {{ location_form.proxy_vpn }}
                            {% if location_form.proxy_vpn.errors %}
                            <div class="text-danger">{{ location_form.proxy_vpn.errors }}</div>
                            {% endif %}
                            <a href="{% url 'proxyvpn_add' %}?next={{ request.path }}" class="form-text text-primary text-decoration-none">+ Add new proxy/VPN</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ location_form.latitude.id_for_label }}" class="form-label">Latitude</label>
                            {{ location_form.latitude }}
                            {% if location_form.latitude.errors %}
                            <div class="text-danger">{{ location_form.latitude.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ location_form.longtitude.id_for_label }}" class="form-label">Longitude</label>
                            {{ location_form.longtitude }}
                            {% if location_form.longtitude.errors %}
                            <div class="text-danger">{{ location_form.longtitude.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <hr class="my-4">

                    <h5 class="mb-3">Security</h5>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ security_form.app_id.id_for_label }}" class="form-label">App ID</label>
                            {{ security_form.app_id }}
                            {% if security_form.app_id.errors %}
                            <div class="text-danger">{{ security_form.app_id.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ security_form.login.id_for_label }}" class="form-label">Login</label>
                            {{ security_form.login }}
                            {% if security_form.login.errors %}
                            <div class="text-danger">{{ security_form.login.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ security_form.login_pass.id_for_label }}" class="form-label">Login Password</label>
                            {{ security_form.login_pass }}
                            {% if security_form.login_pass.errors %}
                            <div class="text-danger">{{ security_form.login_pass.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ security_form.api.id_for_label }}" class="form-label">API Key</label>
                            {{ security_form.api }}
                            {% if security_form.api.errors %}
                            <div class="text-danger">{{ security_form.api.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <hr class="my-4">

                    <h5 class="mb-3">Last Transaction</h5>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="{{ last_transaction_form.picture.id_for_label }}" class="form-label">Picture</label>
                            {{ last_transaction_form.picture }}
                            {% if last_transaction_form.picture.errors %}
                            <div class="text-danger">{{ last_transaction_form.picture.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ last_transaction_form.txid.id_for_label }}" class="form-label">Transaction ID</label>
                            {{ last_transaction_form.txid }}
                            {% if last_transaction_form.txid.errors %}
                            <div class="text-danger">{{ last_transaction_form.txid.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ last_transaction_form.wallet.id_for_label }}" class="form-label">Wallet</label>
                            {{ last_transaction_form.wallet }}
                            {% if last_transaction_form.wallet.errors %}
                            <div class="text-danger">{{ last_transaction_form.wallet.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ last_transaction_form.network.id_for_label }}" class="form-label">Network</label>
                            {{ last_transaction_form.network }}
                            {% if last_transaction_form.network.errors %}
                            <div class="text-danger">{{ last_transaction_form.network.errors }}</div>
                            {% endif %}
                            <a href="{% url 'network_add' %}?next={{ request.path }}" class="form-text text-primary text-decoration-none">+ Add new network</a>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ last_transaction_form.time.id_for_label }}" class="form-label">Time</label>
                            {{ last_transaction_form.time }}
                            {% if last_transaction_form.time.errors %}
                            <div class="text-danger">{{ last_transaction_form.time.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="form-check mt-2">
                                {{ last_transaction_form.first_withdraw }}
                                <label class="form-check-label" for="{{ last_transaction_form.first_withdraw.id_for_label }}">First withdrawal made</label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Save Account
                        </button>
                        <a href="{% url 'account_list' %}" class="btn btn-secondary">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">Information</h6>
            </div>
            <div class="card-body">
                <p class="small">
                    <strong>Active:</strong><br>
                    When account is set as active for the first time, after SAVE his schedule will be created.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
